<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="../static/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="../media/base/baner.jpeg" alt="baner">
      </header>
      <nav>
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#">Расписание сеансов</a></li>
          <li><a href="#">Скоро в кино</a></li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </nav>
      <div class="content">
        <p>
        Что было в книге
«Микки 17» — это экранизация фантастического романа Эдварда Эштона 
«Микки-7», который вышел в 2022 году. Действие разворачивается в 
отдаленном будущем, в котором человечество уже расселилось по 
Вселенной и продолжает осваивать новые миры. Главный герой Микки 
Барнс — участник очередной такой экспедиции, на долю которой 
выпала колонизация холодной и негостеприимной планеты Нифльхейм.
        </p>
        <p>
28 февраля после многочисленных переносов в международный прокат 
выходит «Микки 17» — новый фильм Пон Джун-хо. Это первая работа 
корейского режиссера с того момента, как он снял оскароносных 
«Паразитов» (2019). Рассказываем, на чем основан 
фильм, кто в нем сыграл и почему премьеру переносили несколько раз.
</p>
<p>
Начальство не боится рисковать Микки, потому что знает: в 
любой момент его можно клонировать с сохранением всех 
воспоминаний и умений оригинала. Поэтому на долю героя выпадают 
самые тяжелые и смертельно опасные задания. Однажды на работе 
случается неприятный казус: очередной расходник создают слишком 
рано, когда предыдущая версия еще жива, поэтому копии сталкиваются 
лицом к лицу. А тут еще и местные формы жизни — огромные 
ползающие твари со жвалами — начинают проявлять признаки 
разумности и атаковать колонию. Скучать ни двум Микки, ни 
остальному персоналу не придется.
        </p>
         <p>
        Что было в книге
«Микки 17» — это экранизация фантастического романа Эдварда Эштона 
«Микки-7», который вышел в 2022 году. Действие разворачивается в 
отдаленном будущем, в котором человечество уже расселилось по 
Вселенной и продолжает осваивать новые миры. Главный герой Микки 
Барнс — участник очередной такой экспедиции, на долю которой 
выпала колонизация холодной и негостеприимной планеты Нифльхейм.
        </p>
        <p>
28 февраля после многочисленных переносов в международный прокат 
выходит «Микки 17» — новый фильм Пон Джун-хо. Это первая работа 
корейского режиссера с того момента, как он снял оскароносных 
«Паразитов» (2019). Рассказываем, на чем основан 
фильм, кто в нем сыграл и почему премьеру переносили несколько раз.
</p>
<p>
Начальство не боится рисковать Микки, потому что знает: в 
любой момент его можно клонировать с сохранением всех 
воспоминаний и умений оригинала. Поэтому на долю героя выпадают 
самые тяжелые и смертельно опасные задания. Однажды на работе 
случается неприятный казус: очередной расходник создают слишком 
рано, когда предыдущая версия еще жива, поэтому копии сталкиваются 
лицом к лицу. А тут еще и местные формы жизни — огромные 
ползающие твари со жвалами — начинают проявлять признаки 
разумности и атаковать колонию. Скучать ни двум Микки, ни 
остальному персоналу не придется.
        </p>
          <p>
        Что было в книге
«Микки 17» — это экранизация фантастического романа Эдварда Эштона 
«Микки-7», который вышел в 2022 году. Действие разворачивается в 
отдаленном будущем, в котором человечество уже расселилось по 
Вселенной и продолжает осваивать новые миры. Главный герой Микки 
Барнс — участник очередной такой экспедиции, на долю которой 
выпала колонизация холодной и негостеприимной планеты Нифльхейм.
        </p>
        <p>
28 февраля после многочисленных переносов в международный прокат 
выходит «Микки 17» — новый фильм Пон Джун-хо. Это первая работа 
корейского режиссера с того момента, как он снял оскароносных 
«Паразитов» (2019). Рассказываем, на чем основан 
фильм, кто в нем сыграл и почему премьеру переносили несколько раз.
</p>
<p>
Начальство не боится рисковать Микки, потому что знает: в 
любой момент его можно клонировать с сохранением всех 
воспоминаний и умений оригинала. Поэтому на долю героя выпадают 
самые тяжелые и смертельно опасные задания. Однажды на работе 
случается неприятный казус: очередной расходник создают слишком 
рано, когда предыдущая версия еще жива, поэтому копии сталкиваются 
лицом к лицу. А тут еще и местные формы жизни — огромные 
ползающие твари со жвалами — начинают проявлять признаки 
разумности и атаковать колонию. Скучать ни двум Микки, ни 
остальному персоналу не придется.
        </p>
           <p>
        Что было в книге
«Микки 17» — это экранизация фантастического романа Эдварда Эштона 
«Микки-7», который вышел в 2022 году. Действие разворачивается в 
отдаленном будущем, в котором человечество уже расселилось по 
Вселенной и продолжает осваивать новые миры. Главный герой Микки 
Барнс — участник очередной такой экспедиции, на долю которой 
выпала колонизация холодной и негостеприимной планеты Нифльхейм.
        </p>
        <p>
28 февраля после многочисленных переносов в международный прокат 
выходит «Микки 17» — новый фильм Пон Джун-хо. Это первая работа 
корейского режиссера с того момента, как он снял оскароносных 
«Паразитов» (2019). Рассказываем, на чем основан 
фильм, кто в нем сыграл и почему премьеру переносили несколько раз.
</p>
<p>
Начальство не боится рисковать Микки, потому что знает: в 
любой момент его можно клонировать с сохранением всех 
воспоминаний и умений оригинала. Поэтому на долю героя выпадают 
самые тяжелые и смертельно опасные задания. Однажды на работе 
случается неприятный казус: очередной расходник создают слишком 
рано, когда предыдущая версия еще жива, поэтому копии сталкиваются 
лицом к лицу. А тут еще и местные формы жизни — огромные 
ползающие твари со жвалами — начинают проявлять признаки 
разумности и атаковать колонию. Скучать ни двум Микки, ни 
остальному персоналу не придется.
        </p>
</div>
      <footer>
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#">Расписание сеансов</a></li>
          <li><a href="#">Скоро в кино</a></li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>

      </footer>
    </div>
  </body>
</html>
