{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="../media/base/baner.jpeg" alt="baner">
      </header>
      <nav>
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#">Расписание сеансов</a></li>
          <li><a href="#">Скоро в кино</a></li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </nav>
      <div class="content">
      <main>
        <div class="news">
          <h4><a href="#">Lorem ipsum dolor sit amet consectetur</a></h4>
          <p>Date: 12.09.2025</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod nisi atque deleniti? Placeat nam totam rem voluptate maiores, saepe tempore recusandae dolore quidem neque facilis facere. Voluptatibus aspernatur officia architecto!</p>
          <a href="#">Подробнее</a>
          
        </div><div class="news">
          <h4><a href="#">Lorem ipsum dolor sit amet consectetur</a></h4>
          <p>Date: 12.09.2025</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod nisi atque deleniti? Placeat nam totam rem voluptate maiores, saepe tempore recusandae dolore quidem neque facilis facere. Voluptatibus aspernatur officia architecto!</p>
          <a href="#">Подробнее</a>
          


      </div><div class="post">
          <h4><a href="#">Lorem ipsum dolor sit amet consectetur</a></h4>
          <p>Date: 12.09.2025</p>
          <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod nisi atque deleniti? Placeat nam totam rem voluptate maiores, saepe tempore recusandae dolore quidem neque facilis facere. Voluptatibus aspernatur officia architecto!</p>
        <img src="../media/1.jpeg" alt="">
          <a href="#">Подробнее</a>
          
        </div>

      </main>
<aside>
  <p class="head">Группы</p>
  <p>----------------
  -------------------
  -------------
  -------------
  -------------
  --------------</p>
</aside>
</div>
<footer>
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#">Расписание сеансов</a></li>
          <li><a href="#">Скоро в кино</a></li>
          <li><a href="#">Новости</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </footer>

    </div>
  </body>
</html>
